<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" href="/css/createUserForm_sytle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>

<body>
<div class="container">
    <h1><a href="/">회원 가입</a></h1>
    <form action="/createUser" method="post">
        <div class="form-group">
            <p id="id"><label for="id">id</label>
                <input type="text" id="id" name="id" placeholder="아이디를 입력해 주세요.">
            </p>
            <p><label for="passwd">passwd</label>
                <input type="password" id="passwd" name="passwd" placeholder="비밀번호를 입력해 주세요.">
            </p>
            <p><label for="name">이름</label>
                <input type="text" id="name" name="name" placeholder="이름을 입력해 주세요.">
            </p>
        </div>
        <button type="submit">회원가입</button>
        <p th:text = "'' + ${status}">
    </form>
</div> <!-- /container -->
</body>
</html>